<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/ViewTransactions.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../static/css/ViewTransactions.css">
    <title>View Transactions</title>
</head>
<body>
    <div class="container">
        <h1>Your Transactions</h1>
        <table id="transactionsTable">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <!-- Transactions will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
</body>
</html>
